%h1 Recent Articles

- @articles.each do |article|
  .row.gutters
    %section.col.col-12
      %h4
        = link_to article.title, article_path(article)
      %summary
        = article.description
