#top {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    padding: 0 36px;
    height: 56px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    #brand {
        margin-right: 36px;
    }
    a {
        text-decoration: none;
        color: black;
    }

}

nav ul li {
    display: inline;
    padding-right: 36px;
}
