@import './colors.scss';
@import '~imperavi-kube/src/kube.scss';
@import '~prismjs/themes/prism';
@import '~prismjs/themes/prism-okaidia';
@import url('https://fonts.googleapis.com/css?family=Abel|Asap:400,700');


h1, h2, h3, h4, h5, h6 {
  font-family: 'Asap', serif;
}

html, body {
  height: 100%;
}

body {
  .page-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .wrapper {
    margin: 0 auto;
    max-width: 1128px;
  }


  header {
    z-index: 10;
    background-color: $color-primary-4;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      flex: 0 1 60%;
      padding: 1em;
    }


    #brand {
      a {
        text-decoration: none;
        color: $color-secondary-1-1;
      }
    }


    nav {
      flex: 0 1 450px;
      text-transform: uppercase;
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        li form{
          margin: 0;
        }

        li a {
          text-decoration: none;
          // font-weight: bold;
        }
      }

    }

  }

  main {
    flex: 1;

    section {
      padding: 1em;
      heigth: 100%;
      a {
        text-decoration: none;
        font-weight: bold;
      }

    }

    h4, h5, h6 {
      text-transform: capitalize;
      text-decoration: underline;
    }

  }

  footer {
    background-color: $color-primary-4;
    color: $color-secondary-1-1;
    z-index: 10;
  }

}
